../.CFUserTextEncoding
../.DS_Store
../.gitconfig
../.npm/
../.vscode/
../.zsh_history
../.zsh_sessions/
../Desktop/
../Documents/
../Downloads/
../Library/
../Movies/
../Music/
../Pictures/
../Public/
